#row-file-list > .col-md-4 {
    min-width: 300px;

    @media screen and (max-width: 963px) {
        min-width: unset;
        width: 100%;
    }
}

#row-file-list > .col-md-8 {
    @media screen and (max-width: 963px) {
        width: 100%;
    }
}

.sticky-panel {
    position: sticky;
    top: calc(53px + 1rem);
}

.file-list-container {
    position: relative;
    height: calc(100vh - 2rem);
    overflow-y: scroll;
    border: 1px solid var(--primary-color);
}

.file-list-container:has(.file-list .no-file-available) {
    overflow-y: hidden;
}

.folder-list {
    position: relative;
    max-height: calc(100vh - 2rem);
    height: auto;
    overflow-y: scroll;
    border: 1px solid var(--primary-color);
}

.upload-zone {
    border: 2px dashed #dee2e6;
    border-radius: 0.5rem;
    padding: 2rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.upload-zone i {
    font-size: 3.5rem;
}

.upload-zone:hover {
    border-color: var(--primary-color);
    background-color: rgba(13, 110, 253, 0.05);
}

.no-file-available {
    height: calc(100vh - 2rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-item,
.folder-item {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
    border-style: solid;
    border-color: var(--bs-border-color);
    transition: all 0.2s ease;
}

.file-item.active,
.file-item.active:hover,
.file-item.uploaded-file-item.active,
.file-item.uploaded-file-item.active:hover,
.folder-item.active,
.folder-item.active:hover,
.folder-item.uploaded-folder-item.active,
.folder-item.uploaded-folder-item.active:hover {
    background-color: #f1fffd7d;
}

.file-item:not(:first-child),
.folder-item:not(:first-child) {
    border-width: 0 var(--bs-border-width) var(--bs-border-width)
        var(--bs-border-width);
}

.file-item:first-child,
.folder-item:first-child {
    border-width: var(--bs-border-width);
}

.file-item.uploaded-file-item {
    background-color: #f1fffd7d;
}

.file-item.uploaded-file-item:hover {
    background-color: rgba(0, 0, 0, 0.02);
}

/* Folder file-item */
.file-item > .file-content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.file-item:hover,
.folder-item:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.folder-item.main-folder {
    background-color: #d4fff97d;
}

.file-item .dropdown-menu,
.folder-item .dropdown-menu {
    border: 1px solid var(--primary-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.file-item .dropdown button.file-browse,
.folder-item .dropdown button.file-browse {
    border: var(--bs-border-width) solid var(--primary-color);
}

.file-item .dropdown button.file-browse:hover,
.folder-item .dropdown button.file-browse:hover {
    border-width: 2px;
}

.file-item .dropdown button.file-browse::after,
.folder-item .dropdown button.file-browse::after {
    display: none;
}

.file-item .file-info div:first-child span,
.folder-item .folder-info div:first-child span {
    text-wrap: balance;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.search-file form {
    margin-bottom: 1rem;
}

.file-list .selected-counter {
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    padding: 0.5rem;
    background-color: #fff;
    border-bottom: var(--bs-border-width) solid var(--primary-color);
    z-index: 5;
}

/* Checkbox */
/* From Uiverse.io by Shoh2008 */
.checkbox-wrapper {
    position: relative;
}

.checkbox-wrapper > svg {
    position: absolute;
    top: -130%;
    left: -170%;
    width: 110px;
    pointer-events: none;
}

.checkbox-wrapper * {
    box-sizing: border-box;
}

.checkbox-wrapper input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    margin: 0;
}

.checkbox-wrapper input[type="checkbox"]:focus {
    outline: 0;
}

.checkbox-wrapper .cbx {
    width: 24px;
    height: 24px;
    top: calc(100px - 12px);
    left: calc(100px - 12px);
}

.checkbox-wrapper .cbx input {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border: 2px solid var(--bs-border-color);
    border-radius: 50%;
}

.checkbox-wrapper .cbx label {
    width: 24px;
    height: 24px;
    background: none;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: trasnlate3d(0, 0, 0);
    pointer-events: none;
}

.checkbox-wrapper .cbx svg {
    position: absolute;
    top: 5px;
    left: 4px;
    z-index: 1;
    pointer-events: none;
}

.checkbox-wrapper .cbx svg path {
    stroke: #fff;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 19;
    stroke-dashoffset: 19;
    transition: stroke-dashoffset 0.3s ease;
    transition-delay: 0.2s;
}

.checkbox-wrapper .cbx input:checked + label {
    animation: splash-12 0.6s ease forwards;
}

.checkbox-wrapper .cbx input:checked + label + svg path {
    stroke-dashoffset: 0;
}

@-moz-keyframes splash-12 {
    40% {
        background: var(--primary-color);
        box-shadow: 0 -18px 0 -8px var(--primary-color),
            16px -8px 0 -8px var(--primary-color),
            16px 8px 0 -8px var(--primary-color),
            0 18px 0 -8px var(--primary-color),
            -16px 8px 0 -8px var(--primary-color),
            -16px -8px 0 -8px var(--primary-color);
    }

    100% {
        background: var(--primary-color);
        box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent,
            32px 16px 0 -10px transparent, 0 36px 0 -10px transparent,
            -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
}

@-webkit-keyframes splash-12 {
    40% {
        background: var(--primary-color);
        box-shadow: 0 -18px 0 -8px var(--primary-color),
            16px -8px 0 -8px var(--primary-color),
            16px 8px 0 -8px var(--primary-color),
            0 18px 0 -8px var(--primary-color),
            -16px 8px 0 -8px var(--primary-color),
            -16px -8px 0 -8px var(--primary-color);
    }

    100% {
        background: var(--primary-color);
        box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent,
            32px 16px 0 -10px transparent, 0 36px 0 -10px transparent,
            -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
}

@-o-keyframes splash-12 {
    40% {
        background: var(--primary-color);
        box-shadow: 0 -18px 0 -8px var(--primary-color),
            16px -8px 0 -8px var(--primary-color),
            16px 8px 0 -8px var(--primary-color),
            0 18px 0 -8px var(--primary-color),
            -16px 8px 0 -8px var(--primary-color),
            -16px -8px 0 -8px var(--primary-color);
    }

    100% {
        background: var(--primary-color);
        box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent,
            32px 16px 0 -10px transparent, 0 36px 0 -10px transparent,
            -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
}

@keyframes splash-12 {
    40% {
        background: var(--primary-color);
        box-shadow: 0 -18px 0 -8px var(--primary-color),
            16px -8px 0 -8px var(--primary-color),
            16px 8px 0 -8px var(--primary-color),
            0 18px 0 -8px var(--primary-color),
            -16px 8px 0 -8px var(--primary-color),
            -16px -8px 0 -8px var(--primary-color);
    }

    100% {
        background: var(--primary-color);
        box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent,
            32px 16px 0 -10px transparent, 0 36px 0 -10px transparent,
            -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
}

@media screen and (min-width: 769px) {
    #row-file-list .col-md-8 .tile {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 768px) {
    .sticky-panel {
        position: static;
    }
}
