td.permalink-file {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-form {
    margin-bottom: 1rem;
}

.search-form form,
.attached-file-action {
    position: relative;
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.5rem;
}

.search-form form .input-group,
.attached-file-action .input-group {
    max-width: 650px;
}
