.no-attributes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-attributes .paragraph.no-attributes-text {
    text-align: center;
    padding: 0.5rem;
}

.attribute-lists {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    overflow-x: auto;
}

.attribute-row {
    min-width: 700px;
    background-color: #f8f9fa;
    padding: 15px;
    margin-bottom: 10px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 5px;
    transition: all 0.3s ease;
}

.attribute-row:hover {
    background-color: #e9ecef;
}

.rules-section {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #dee2e6;
}

.btn-icon {
    padding: 0.375rem;
    line-height: 1;
}

.hidden {
    display: none;
}

.attribute-rules {
    display: none;
}

.attribute-rules.show {
    display: block;
}

#schema-saved-status {
    font-size: 14px;
    font-weight: lighter !important;
    text-decoration: none !important;
}

/* chexbox style */
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    .checkbox-wrapper input[type="checkbox"] {
        --active: var(--primary-color);
        --active-inner: #fff;
        --focus: 2px #00695d3c;
        --border: #bbc1e1;
        --border-hover: var(--primary-color);
        --background: #fff;
        --disabled: #f6f8ff;
        --disabled-inner: #e1e6f9;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 21px;
        outline: none;
        display: inline-flex;
        flex-wrap: nowrap;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        border: 1px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }
    .checkbox-wrapper input[type="checkbox"]:after {
        content: "";
        display: flex;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
            opacity var(--d-o, 0.2s);
    }
    .checkbox-wrapper input[type="checkbox"]:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: 0.3s;
        --d-t: 0.6s;
        --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
    }
    .checkbox-wrapper input[type="checkbox"]:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: 0.9;
    }
    .checkbox-wrapper input[type="checkbox"]:disabled:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
    }
    .checkbox-wrapper input[type="checkbox"]:disabled + label {
        cursor: not-allowed;
    }
    .checkbox-wrapper
        input[type="checkbox"]:hover:not(:checked):not(:disabled) {
        --bc: var(--border-hover);
    }
    .checkbox-wrapper input[type="checkbox"]:focus {
        box-shadow: 0 0 0 var(--focus);
    }
    .checkbox-wrapper input[type="checkbox"]:not(.switch) {
        width: 21px;
    }
    .checkbox-wrapper input[type="checkbox"]:not(.switch):after {
        opacity: var(--o, 0);
    }
    .checkbox-wrapper input[type="checkbox"]:not(.switch):checked {
        --o: 1;
    }
    .checkbox-wrapper input[type="checkbox"] + label {
        display: inline-flex;
        flex-wrap: nowrap;
        vertical-align: middle;
        cursor: pointer;
        margin-left: 4px;
    }

    .checkbox-wrapper input[type="checkbox"]:not(.switch) {
        border-radius: 7px;
    }
    .checkbox-wrapper input[type="checkbox"]:not(.switch):after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
    }
    .checkbox-wrapper input[type="checkbox"]:not(.switch):checked {
        --r: 43deg;
    }
    .checkbox-wrapper input[type="checkbox"].switch {
        width: 38px;
        border-radius: 11px;
    }
    .checkbox-wrapper input[type="checkbox"].switch:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 17px;
        height: 17px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
    }
    .checkbox-wrapper input[type="checkbox"].switch:checked {
        --ab: var(--active-inner);
        --x: 17px;
    }
    .checkbox-wrapper
        input[type="checkbox"].switch:disabled:not(:checked):after {
        opacity: 0.6;
    }
}

.checkbox-wrapper * {
    box-sizing: inherit;
}
.checkbox-wrapper *:before,
.checkbox-wrapper *:after {
    box-sizing: inherit;
}
